/*
    Instructions: Paste the below into a new CSS note. 
    Set the label: #appCss
*/

/* Sidebar Mode -------------------------------------------------------*/

body.mobile-view[current-view="sidebar"] #right-pane, body.mobile-view[current-view="sidebar"] #rest-pane{
    display:none !important;
}

body.mobile-view[current-view="sidebar"] #left-pane {
    width:100% !important;
}


body.mobile-view[current-view="sidebar"] #left-pane .fancytree-node {
    height: fit-content;
    white-space: inherit;
    overflow: inhrerit;
}


/* Notes Mode ------------------------------------------------------------------*/

body.mobile-view[current-view="note"] #right-pane, body.mobile-view[current-view="note"] #left-pane{
    display:none !important;
}


/* Right Pane Mode ------------------------------------------------------------------*/
body.mobile-view[current-view="right-pane"] #center-pane, body.mobile-view[current-view="right-pane"] #left-pane {
    display:none !important;
}


body.mobile-view[current-view="right-pane"] #right-pane {
    width:100% !important;
}