.agenda-widget {
    .recurrence-picker {
        .interval-picker {
            container-type: inline-size;
            > div {
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                gap: 0.25rem;
                > * {
                    width: 100% !important;
                }
            }
            @container ( inline-size < 15rem ) {
                > div {
                    flex-direction: column;
                }
            }
        }
        .weekdays-picker {
            container-type: inline-size;
            > div {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                width: 100%;
                justify-content: space-between;
                gap: 0.25rem !important;
                .togglebutton, .togglebutton > * {
                    min-width: 1.5rem !important;
                    min-height: 1.5rem !important;
                    width: 100% !important;
                    text-align: center !important;
                    padding: 0;
                    line-height: 2rem !important;
                }
            }
            @container ( inline-size < 15rem ) {
                > div {
                    flex-direction: column;
                    .togglebutton, .togglebutton > * {
                        width: 100% !important;
                    }
                }
            }
        }
        .month-picker {
            container-type: inline-size;
            > div {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                width: 100%;
                justify-content: space-between;
                gap: 0.25rem !important;
                > * {
                    width: 100% !important;
                }
            }
            @container ( inline-size < 12rem ) {
                > div {
                    flex-direction: column;
                    .togglebutton, .togglebutton > * {
                        width: 100% !important;
                    }
                }
            }
        }
        .stop-picker {
            container-type: inline-size;
            > div {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                width: 100%;
                justify-content: space-between;
                gap: 0.25rem !important;
                > * {
                    width: 1rem !important;
                    flex: 1 1 auto !important;
                    max-width: 100% !important;
                }
            }
            @container ( inline-size < 15rem ) {
                > div {
                    flex-direction: column;
                    > * {
                        width: 100% !important;
                    }
                }
            }
        }
    }
}
