body .timerControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center !important;
    padding: 0.5rem;
    overflow: visible !important;

    button.icon-action:before {
        font-size: 1.5rem !important;
    }

    .timer {
        display: flex;
        flex: 0 0 auto;
        flex-direction: row;
        justify-content: center;
        align-items: center !important;
        overflow: visible !important;
        width: fit-content;
        margin: 0 auto;
        gap: 0.5rem;

        > span {
            background-color: var(--card-background-color);
            border-radius: 8px;
            padding: 0.5rem;

            &.running {
                color: white;
            }
        }

        > * {
            width: fit-content !important;
            max-width: fit-content !important;
        }

        .dropdown ul {
            overflow: scroll;
            max-height: 80vh;
            min-width: fit-content !important;
            width: fit-content !important;
            padding: 0 !important;
            font-size: large !important;

            li {
                width: fit-content !important;
                min-width: fit-content !important;
                padding: 0.125 rem !important;

                span {
                    width: 0;
                    min-width: 0;
                    margin: 0 auto;
                }
            }
        }
    }
}

body .timerControls .flash-accent {
    animation: timer-blink-accent 2s ease-in-out infinite;
}

@keyframes timer-blink-accent {
    25% {
        background-color: var(--accent);
    }

    50% {
        background-color: var(--accent);
    }

    75% {
        background-color: var(--accent);
    }
}

body .timerControls .flash-red {
    animation: timer-blink-red 0.75s ease-in-out infinite;
}

@keyframes timer-blink-red {
    50% {
        background-color: red;
    }
}
