<html>
  
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
  </head>
  
  <body>
    <ul>
      <li>templates@beatlink
        <ul>
          <li><a href="templates%40beatlink/1.%20High%20Priority.html" target="detail">1. High Priority</a>
          </li>
          <li><a href="templates%40beatlink/2.%20Routine.html" target="detail">2. Routine</a>
          </li>
          <li><a href="templates%40beatlink/3.%20Task.html" target="detail">3. Task</a>
          </li>
          <li><a href="templates%40beatlink/4.%20Future.html" target="detail">4. Future</a>
          </li>
          <li><a href="templates%40beatlink/5.%20Project.html" target="detail">5. Project</a>
          </li>
          <li><a href="templates%40beatlink/6.%20Note.html" target="detail">6. Note</a>
          </li>
          <li><a href="templates%40beatlink/7.%20Area.html" target="detail">7. Area</a>
          </li>
          <li><a href="templates%40beatlink/8.%20Special.html" target="detail">8. Special</a>
          </li>
        </ul>
      </li>
    </ul>
  </body>

</html>