/*

A revamp of WhiteBlue based on the TriliumNext Theme

Add to a CSS note and set the following attributes: #appThemeBase=next #appTheme=WhiteBlueNext

Based on https://github.com/TriliumNext/Notes/blob/develop/src/public/stylesheets/theme-next-light.css

*/

@font-face {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
}

:root {
    --theme-style: light;

    --white: white;
    --black: #010101;
    --lightgray: #f2f2f2;
    --gray: #eee;
    --accent: #00ACFF;
    --tree-item-light-theme-max-color-lightness: 100 !important;
     --tree-item-dark-theme-min-color-lightness: 100 !important;
    
    --main-font-family: 'Noto Sans' !important;
    --main-font-size: normal;
    --detail-text-font-family: 'Noto Sans' !important;
    --detail-text-font-family: inherit;
    --detail-font-family: inherit;
    --detail-font-family: inherit;
    --detail-font-size: normal;
    --tree-font-family: inherit;
    --tree-font-size: normal;
     
    --main-background-color: var(--white);
    --main-text-color: var(--black);
    --main-border-color: var(--accent) !important;
    --accented-background-color: var(--white) !important;
    --more-accented-background-color: var(--lightgray) !important;
    
    --gutter-color: var(--lightgray) !important;
    --gutter-hover-color: var(--accent) !important;

    --tab-close-button-hover-background: #FF0000 !important;
    --tab-close-button-hover-color: white;

    --active-tab-background-color: var(--gray) !important;
    --active-tab-hover-background-color: var(--lightgray) !important;
    --active-tab-text-color: var(--black) !important;
    --active-tab-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1), -1px -1px 3px rgba(0, 0, 0, 0.05);
    --active-tab-dragging-shadow: var(--active-tab-shadow), 0 0 20px rgba(0, 0, 0, 0.1);

    --inactive-tab-background-color: transparent;
    --inactive-tab-hover-background-color: var(--gray) !important;
    --inactive-tab-text-color: var(--gray);

    --new-tab-button-background: transparent !important;
    --new-tab-button-color: var(--accent) !important;
    --new-tab-button-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    --new-tab-button-hover-background: var(--accent) !important;
    --new-tab-button-hover-color: var(--white) !important;

    --launcher-pane-border-color: var(--lightgray) !important;
    --launcher-pane-vert-background-color: var(--white) !important;
    --launcher-pane-vert-button-hover-background: var(--accent) !important;
    --launcher-pane-vert-button-hover-color: var(--white) !important;
    
    --quick-search-background: var(--white) !important;
    --quick-search-color: var(--black) !important;
    --quick-search-hover-background: var(--lightgray) !important;
    --quick-search-focus-border: var(--accent) !important;
    --quick-search-focus-background: var(--white) !important;
    --quick-search-focus-color: var(--black) !important;

    --left-pane-collapsed-border-color: var(--gray) !important;
    --left-pane-background-color: var(--white) !important;
    --left-pane-item-hover-background: var(--lightgray) !important;
    --left-pane-item-selected-background: var(--gray) !important;
    --left-pane-item-selected-color: revert !important;
    --left-pane-item-selected-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    --left-pane-item-action-button-background: transparent !important;
    --left-pane-item-action-button-color: var(--black) !important;
    --left-pane-item-action-button-hover-background: var(--accent) !important;
    --left-pane-item-action-button-hover-shadow: 2px 2px 3px rgba(0, 0, 0, 0.15) !important;
    --left-pane-item-selected-action-button-hover-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25) !important;

    --header-background-color: var(--accent) !important;
    --header-text-color: var(--accent) !important;

    --button-hover-border-color: var(--accent) !important;
    --button-text-color: var(--accent) !important;

    --radio-checkbox-indicator-color: var(--accent) !important;
    --radio-checkbox-background: var(--white) !important;
    
    --ck-color-button-action-hover-background: var(--accent) !important;
    
    --primary-button-background-color: var(--white) !important;
    --primary-button-text-color: var(--accent) !important;
    --primary-button-border-color: var(--white) !important;
        
    --cmd-button-text-color: var(--accent) !important;
    --cmd-button-background-color: var(--white) !important;
    --cmd-button-shadow-color: transparent !important;
    
    --input-text-color: var(--accent) !important;
    --input-background-color: var(--white) !important;
    --input-hover-color: var(--accent) !important;
    --input-hover-background: var(--lightgray) !important;
    
    --hover-item-text-color: white !important;
    --hover-item-background-color: var(--accent) !important;
    --hover-item-border-color: transparent !important;

    --active-item-border-color: var(--accent) !important;
    --active-item-background-color: var(--white) !important;
    --active-item-text-color: var(--black) !important;
    
    --menu-text-color: var(--black) !important;
    --menu-background-color: var(--lightgray) !important;

    --link-color: var(--accent) !important;

    --modal-background-color: var(--white) !important;
    --modal-backdrop-color: var(--white) !important;
    
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-style: dark;

        --white: #010101;
        --black: white;
        --lightgray: #232323;
        --gray: #2f2f2f;
        --accent: #00ACFF;
    }
}

.btn-check:checked+.btn {
    background-color: var(--cmd-button-hover-background-color);
    color: var(--cmd-button-hover-text-color);
    border-color: #00000000;
    
}

.btn-check+.btn:hover, .btn-check:checked+.btn:hover {
    background-color: var(--accent) !important;
    color: var(--white) !important;
    border-color: var(--white) !important;
}

.note-detail h1, .note-detail h2, .note-detail h3, .note-detail h4, .note-detail h5 {
    color: var(--accent);
}

.note-detail h2 {
    margin: 0 0 0.5em !important;
}

body .note-detail-text {
    font-size: 120% !important;
}

html .note-detail-editable-text :not(figure, .include-note) li:first-child {
    margin: 0.75em 0 !important;
}


.note-detail-editable-text .note-detail-editable-text-editor li, .note-detail-editable-text .note-detail-editable-text-editor li:first-child {
    margin: 0.75em 0 !important;
}


span.fancytree-title {
    color: var(--black) !important;
}

span.fancytree-node:not(.fancytree-active):hover .fancytree-title, span.fancytree-node:hover {
	color: var(--black) !important;
}

#left-pane span.fancytree-node .tree-item-button:hover {
    color: var(--white) !important;
}

#right-pane .card-header {
	border-top: 2px solid var(--accent) !important;
}